In [38]:
import pandas as pd
df = pd.read_csv('study_data.csv')

In [39]:
df.head()

   time_spent  score  sleep_hrs  satisfaction_level
0        2.00   50.0          1                   2
1        3.00   60.0          2                   3
2        4.00   60.0          3                   4
3        1.75   48.0          4                   5
4        6.00   90.0          5                   6

In [40]:
cov_matrix = df.cov()
cov_matrix

                    time_spent  score  sleep_hrs  satisfaction_level
time_spent            4.610417   45.8      3.175               3.175
score                45.800000  472.0     32.800              32.800
sleep_hrs             3.175000   32.8      7.500               7.500
satisfaction_level    3.175000   32.8      7.500               7.500

In [44]:
df.drop(['time_spent', 'score'], axis=1, inplace=True)

In [45]:
df.head()

   sleep_hrs  satisfaction_level
0          1                   2
1          2                   3
2          3                   4
3          4                   5
4          5                   6

In [29]:
# data = {
#     'sleep_hours': [7, 6, 8, 5, 9, 7],
#     'job_satisfaction': [6, 5, 8, 4, 9, 7]
# }

# # Create a DataFrame
# df = pd.DataFrame(data)

In [46]:
df_corr = df.corr(method='spearman')
print(df_corr)

                    sleep_hrs  satisfaction_level
sleep_hrs                 1.0                 1.0
satisfaction_level        1.0                 1.0